SplitPane.root-pane {
	-fx-dividerPositions: 0.2;
}

VBox.control-pane, GridPane.board-pane {
	-fx-padding: 2px;
	-fx-spacing: 5px;
}

VBox.control-pane HBox.competitor-pane {
	-fx-spacing: 5px;
}

VBox.control-pane TextField.competitor-field {
	-fx-pref-width: 10em;
}

GridPane.board-pane Button.board-field {
	-fx-content-display: center;
	-fx-padding: 1px;
	-fx-border-insets: 1px;
	-fx-background-insets: 1px;
	-fx-pref-width: 1000000px;
	-fx-pref-height: 1000000px;
}

GridPane.board-pane Button.board-field.white {
	 -fx-background-color: white;
}

GridPane.board-pane Button.board-field.white.selected {
	 -fx-background-color: blue;
}

GridPane.board-pane Button.board-field.black {
	 -fx-background-color: rgb(16, 16, 16);
}

GridPane.board-pane Button.board-field.black.selected {
	 -fx-background-color: blue;
}
